html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100vh;
}
.leaflet-image-layer {
  image-rendering: pixelated;
}
.leaflet-popup-content {
  white-space: normal;
  word-wrap: break-word; 
}
/* RIGHT INFO PANEL */

#infoPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: rgba(20,20,20,0.95);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: sans-serif;

  transform: translateX(100%);  /* completely off-screen */
  transition: transform 0.35s ease;
  z-index: 1000;

  pointer-events: none; /* cannot interact when hidden */
}

#infoPanel.open {
  transform: translateX(0);     /* visible */
  pointer-events: auto;         /* allow clicks */
}

/* BOTTOM LEFT COORDINATE BOX */

#coordBox {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;

  z-index: 1000; /* ← important */
}